<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seating Chart Website</title>
        <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> 
        <script src="/static/drag_and_drop.js" defer></script>
    </head>
    <body>

        <div id="header">
            <form action="/submit?quantity=/" method="post">
                <div>
                    Group size:
                    <input type="number" id="groupSize" name="groupSize" min="1" max="5">
                    <input type="submit" id="randomizeBtn" value="Randomize"/>
                </div>
            </form>
            <script src="/static/app.js" defer></script>    
        </div>

        <div class="all_groups_wrapper">

            <div id="group1" class="group">
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='hermione.jpg')}}">
                </div>
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='potter.jpg')}}">
                </div>
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='olivia.jpg')}}">
                </div>
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='probst.jpg')}}">
                </div>
            </div>
    
            <div id="group2" class="group">
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='conan.jpg')}}">
                </div>
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='taylor.jpg')}}">
                </div>
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='jenna.jpg')}}">
                </div>
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='sam.jpg')}}">
                </div>
            </div>
    
            <div id="group3" class="group">
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='gracie.jpg')}}">
                </div>
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='ronald.jpg')}}">
                </div>                
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='probst.jpg')}}">
                </div>
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='olivia.jpg')}}">
                </div>
            </div>
    
            <div id="group4" class="group">
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='hermione.jpg')}}">
                </div>
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='potter.jpg')}}">
                </div>
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='conan.jpg')}}">
                </div>
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='taylor.jpg')}}">
                </div>
            </div>
    
            <div id="group5" class="group">
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='gracie.jpg')}}">
                </div>
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='ronald.jpg')}}">
                </div>                
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='probst.jpg')}}">
                </div>
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='sam.jpg')}}">
                </div>
            </div>
    
            <div id="group6" class="group">
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='conan.jpg')}}">
                </div>
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='taylor.jpg')}}">
                </div>
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='probst.jpg')}}">
                </div>
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='olivia.jpg')}}">
                </div>
            </div>
    
            <div id="group7" class="group">
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='hermione.jpg')}}">
                </div>
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='potter.jpg')}}">
                </div>
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='olivia.jpg')}}">
                </div>
                <div class="student" draggable="true">
                    <img src="{{url_for('load_img', filename='probst.jpg')}}">
                </div>
            </div>
    
        </div>
    </body>
</html>